*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn-wrapper {
  background: none;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px; }
  .btn-wrapper:hover {
    background: #eee; }

.btn-burger {
  background: black;
  border: 1px solid transparent;
  border-radius: 4px;
  bottom: 0;
  font-size: 1px;
  height: 4px;
  left: 0;
  margin: auto 4px;
  position: absolute;
  right: 0;
  text-indent: -9999999px;
  top: 0;
  transition: .2s all; }
  .btn-burger:before, .btn-burger:after {
    background: #000;
    border-radius: 4px;
    content: '';
    height: 4px;
    left: -1px;
    margin: auto;
    position: absolute;
    transition: all .2s 0s;
    width: calc(100% + 2px); }
  .btn-burger:before {
    top: -8px; }
  .btn-burger:after {
    bottom: -8px; }
  .btn-burger[data-state="on"] {
    background: transparent;
    border-color: black;
    height: 100%;
    margin: auto; }
    .btn-burger[data-state="on"]:before, .btn-burger[data-state="on"]:after {
      transition: all .2s .4s; }
    .btn-burger[data-state="on"]:after {
      bottom: 0;
      top: 0;
      transform: rotate(45deg); }
    .btn-burger[data-state="on"]:before {
      bottom: 0;
      top: 0;
      transform: rotate(-45deg); }
