*, *:before, *:after {
  box-sizing: border-box;
}

button::-moz-focus-inner,
 input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.invis {
  color: transparent;
  font-size: 1px;
  position: absolute;
  height: 0;
}

.btn,
.video-close:before {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.video-close {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.video-close:before {
  border: 1px solid #000;
  content: 'Close';
  left: 8px;
  padding: 4px 8px;
  position: absolute;
  text-transform: uppercase;
  top: 18px;
  transition: top .4s;
}

.video-close:focus:before, button:focus {
  border: 1px solid rgb(129,219,219);
  box-shadow: 0 0 10px rgba(129,219,219,.75);
}

[aria-hidden="false"] .video-close:before {
  top: 8px;
}

.video-overlay {
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  padding: 40px;
  position: fixed;
  top: 0;
  transition: all .2s;
  width: 100%;
  z-index: -1;
}

[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
}

[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.video-aspect {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-player {
  background: #000;
  border: none;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  max-height: 480px;
  max-width: 853px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 4;
}

/* sorry about the ID guys... */
#video-dialog-title {
  color: #fff;
  position: relative;
  z-index: 9;
}
