*, *::after, *::before {
  box-sizing: border-box;
  font-family: arial;
  line-height: 2;
  margin: 0;
}

body {
  background: #333;
  overflow-x: hidden;
}

p {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.content {
  margin: auto;
  max-width: 1000px;
  padding: 20px;
}

.invis {
  height: 1px;
  left: -999px;
  position: absolute;
  top: -999px;
  visibility: hidden;
  width: 1px;
}

.main-base {
  background: #ddd;
  left: 0px;
  position: relative;
  transition: all .3s;

  header, footer {
    background: #aaa;
    color: #fff;
  }
}

footer a {
  color: #fff;
}

.nav-side {
  background: #E85657;
  color: #fff;
  bottom: 80px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  height: 80px;
  left: 40px;
  overflow: hidden;
  padding: 8px 0;
  position: fixed;
  transition: all .3s;
  width: 80px;
  z-index: 2;
}

.menu-list {
  height: 0%;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  transition: all .3s;

  a {
    border-bottom: 1px solid #eee;
    color: #fff;
    display: block;
    padding: 12px 8px;
    text-decoration: none;

    &:hover {
      background: rgba(0,0,0,.5);
    }
  }
}

.btn-label {
  cursor: pointer;
  margin-left: 4px;
}


#nav-expand:checked + .nav-side {
  bottom: 0;
  height: 100%;
  left: 0;
  width: 200px;

  .menu-list {
    height: 100%;
  }

  .btn-label {
    color: transparent;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;

    &:hover {
      background: #eee;
    }

    &::before {
      color: #000;
      content: "X";
      line-height: 20px;
    }
  }


  + .main-base {
    left: 200px;
  }
}

