/*
  Modal Overlay
*/
.modal-overlay {
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  display: flex;
  overflow: auto;
  padding: 1.5em;
  position: fixed;
  top: 0;
  transition: opacity .2s;
  width: 100%;
  z-index: -1;
}

.modal-overlay[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
}

.modal-overlay[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

/*
  Modal Content Area
*/
.modal-content {
  background: #ddd;
  margin: auto;
  max-width: 920px;
  overflow: auto;
  overflow-x: hidden;
  padding: 1.5em;
  position: relative;
  transform: scale(.8);
  transition: transform .3s;
  width: 100%;
}

.modal-overlay[aria-hidden="false"] .modal-content{
  transform: scale(1);
}

#modal-desc {
  color: transparent;
  left: -999999px;
  position: absolute;
}

/*
  Video Specific
*/
.modal-aspect-container {
  max-height: 480px;
  max-width: 854px;
  margin: auto;
}

.modal-aspect {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.modal-player {
  background: #000;
  border: none;
  height: 100%;
  left: 0;
  margin: auto;
  max-height: 480px;
  max-width: 853px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 4;
}


/*
  General Modal Content
*/
#modal-title {
  margin-top: 0;
  padding-right: 1.25em;
}



/*
  Close Modal Button
*/
.modal-close {
  background: none;
  color: #111;
  font-family: arial;
  font-size: 2em;
  font-weight: 800;
  border: none;
  line-height: 1;
  cursor: pointer;
  right: .25em;
  padding: .25em;
  position: absolute;
  top: .25em;
  z-index: 2;
}

.modal-close:before {
  content:'Close Modal';
  position: fixed;
  right: -999999px;
}















/* page styling css */
body, html {
        margin: 0;
        padding: 0;
        -moz-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
        -webkit-text-size-adjust:100%;
        text-rendering:optimizeLegibility;
      }

      #page {
        margin: auto;
        max-width: 900px;
        padding: 20px;
      }

      .menu {
        background: #eee;
        border-bottom: 1px solid #bbb;
        margin: 0;
        padding: 12px 8px 0;
        text-align: center;
      }

      template, [hidden] {
        display: none;
        height: 0;
        visibility: hidden;
      }

      input[type="submit"],
      input[type="button"] {
        -webkit-appearance:none;
      }

      button::-moz-focus-inner,
       input::-moz-focus-inner {
        border: 0;
        padding: 0;
      }

      :focus {
        box-shadow: 0 0 10px rgba(129,219,219,.75);
      }

      .invis {
        color: transparent;
        font-size: 1px;
        position: absolute;
        right: -99999px;
      }

      .btn {
        background: #fff;
        border: 1px solid #ccc;
        cursor: pointer;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 12px;
        padding: 8px 12px;
        text-align: center;
      }

      label {
        display: inline-block;
        font-weight: bold;
        margin-bottom: .75em;
      }

      .input {
        display: block;
        font-size: 1.5em;
        margin-bottom: .75em;
        min-width: 230px;
        padding: 8px;
        width: 100%;
      }
