*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fafafa;
  font-family: arial narrow, arial;
  font-size: 120%;
  margin: 0; }

body, html, .page {
  height: 100%;
  overflow: hidden; }

:last-child {
  margin-bottom: 0; }

h1, h2, h3, h4,
h5, h6, p, li {
  margin-top: 0; }

article, aside, canvas,
footer, header, main, section {
  display: block; }

.page {
  position: fixed;
  top: 0;
  width: 100%; }

.radio,
.exit-label {
  display: none;
  visibility: hidden; }

.exit-label {
  border: 1px solid #333;
  color: #444;
  display: inline-block;
  padding: 4px 12px;
  text-decoration: none; }

.page-label {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%; }
  .page-label span {
    position: relative;
    top: 50%; }

.check-label {
  cursor: pointer; }
  .check-label:hover, .check-label:active {
    background: rgba(0, 0, 0, 0.3);
    color: #fff; }
  .check-label:focus {
    outline: thin dotted; }

.section-container {
  -moz-transition: 0.4s all;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  border: 0px solid;
  height: 50%;
  overflow: hidden;
  position: fixed;
  width: 50%;
  z-index: 1; }
.section-content {
  -moz-transition: 0.66s all;
  -webkit-transition: 0.66s all;
  transition: 0.66s all;
  margin: auto;
  max-width: 800px;
  padding: 20px;
  opacity: 0;
  visibility: hidden; }

:checked + .section-container {
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: auto; }
  :checked + .section-container .exit-label {
    display: inline-block;
    visibility: visible; }
  :checked + .section-container .page-label {
    display: none; }
  :checked + .section-container .section-content {
    opacity: 1;
    visibility: visible; }

.section-one {
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  background: #f5bfb8; }

.section-two {
  -moz-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  -o-transform: translate(0%, 100%);
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  background: #c8f4f2; }

.section-three {
  -moz-transform: translate(100%, 0%);
  -ms-transform: translate(100%, 0%);
  -o-transform: translate(100%, 0%);
  -webkit-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
  background: #c8f4c8; }

.section-four {
  -moz-transform: translate(100%, 100%);
  -ms-transform: translate(100%, 100%);
  -o-transform: translate(100%, 100%);
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  background: #eef4c8; }

#exit:checked + .page .section-container {
  border: none;
  opacity: 1; }

.page :not(:checked) + .section-container {
  border: 40px solid; }
