// ---------------------------------------------------
// Normalize/Reset/Whatever
// ---------------------------------------------------

body, html {
  font-family: arial;
  margin: 0;
}

body {
  padding: 20px;
}

// ---------------------------------------------------
// accordion & Container .nav
// ---------------------------------------------------

.nav {
  list-style: none;
  margin: 0;
  max-width: 30%;
  padding: 0;

  .accordion {
    list-style: none;
    margin: 0;
    padding: 0 0 0 8px;
  }
}

.accordion {
  height: auto;
  max-height: 0px;
  overflow: hidden;
  transition: all .25s;
}


// ---------------------------------------------------
// accordion Label Styling
// ---------------------------------------------------

.accordion-label {
  color: #888;
  cursor: pointer;
  display: block;
  padding-left: 18px;
  position: relative;

  &::before {
    content: "▶";
    position: absolute;
    left: 0;
    top: 0;
  }

  &:hover {
    color: #222;
  }
}


// ---------------------------------------------------
// accordion styling by input state
// ---------------------------------------------------

.accordion-input {
  position: absolute;
  top: -99999px;

  &:checked {
    ~ .accordion {
      max-height: 400px;
    }

    + .accordion-label {
      color: #111;
      font-weight: bold;

      &:before {
        content: "▼";
      }
    }
  }
}


// ---------------------------------------------------
// accordion Menus
// ---------------------------------------------------

.accordion-menu li{
  padding: 4px 8px;
}


// ---------------------------------------------------
// accordion Info blocks
// ---------------------------------------------------

.accordion-info {
  box-shadow: 0 0 1px #999 inset;
}
