@mixin vendor($property, $value, $moz: true, $ms: true, $o: true, $webkit: true) {
  @if $moz    == true  {    -moz-#{$property}: $value; }
  @if $ms     == true  {     -ms-#{$property}: $value; }
  @if $o      == true  {      -o-#{$property}: $value; }
  @if $webkit == true  { -webkit-#{$property}: $value; }
                                 #{$property}: $value;
}

// Generic Transitions
@mixin transition($values) {
  @include vendor(transition, $values, $o: false, $ms: false);
}

// Generic Transforms
@mixin transform($values){
  @include vendor(transform, $values);
}



// Demo layout styling
.page {
  position: fixed;
  top: 50px;
  width: 100%;
}

.radio {
  display: none;
  visibility: hidden;
}

.header-nav {
  background: rgba(255,255,255,.95);
  box-shadow: rgba(255,255,255,.95);
  left: 0;
  padding: 8px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}
  .check-label {
    border: 1px solid #333;
    color: #444;
    cursor: pointer;
    display: inline-block;
    padding: 4px 12px;
    text-decoration: none;

    &:hover, &:active {
      background: #555;
      color: #fff;
    }

    &:focus {
      outline: thin dotted;
    }
  }

.section {

  // generally set these to hidden
  &-container {
    @include transition(.66s all);
    @include transform(translate(0%,40%));
    height: 100%;
    opacity: 0;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  &-content {
    @include transition(.66s all);
    margin: auto;
    max-width: 800px;
    padding: 20px;
    visibility: hidden;
  }
}

:checked + .section-container {
  @include transform(translate(0%,0%));
  opacity: 1;
  z-index: 2;

  .section-content {
    visibility: visible;
  }
}

.section-one {
  @include transform(translate(0%,40%));
  background: #f5bfb8;
}

.section-two {
  @include transform(translate(-60%,0%));
  background: #c8f4f2;
}

.section-three {
  @include transform(translate(60%,0%));
  background: #c8f4c8;
}

.section-four {
  @include transform(translate(0%,-40%));
  background: #eef4c8;
}
