html, body {
  font-family: arial;
  font-size: 110%;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  padding: 20px;
  position: relative;
  width: 50%;
}

[contenteditable] {
  font-size: 26px;
  padding: .25em 0em;
  margin: 1em 0;
  transition: padding .3s ease-in-out;
}

[contenteditable]:hover,
[contenteditable]:focus {
  padding: .25em;
}

[contenteditable]:hover {
  background: #fafafa;
  outline: 2px solid #eee;
}

[contenteditable]:focus {
  background: #efefef;
  outline: 2px solid blue;
}

.btn {
  background: #fff;
  color: darkgreen;
  border: 1px solid darkgreen;
  box-shadow: inset 0 0 0 1px;
  font-size: 1em;
  padding: .75em;
  margin-right: .5em;
}

.btn[disabled] {
  color: #666;
  border-color: #ddd;
  opacity: .5;
}

.btn:not([disabled]):hover,
.btn:not([disabled]):focus {
  outline: 3px solid;
  outline-offset: 1px;
}

.btn:not([disabled]):active {
  background: darkgreen;
  color: #fff;
}
