@charset "UTF-8";
body, html {
  font-family: arial;
  margin: 0; }

body {
  padding: 20px; }

.nav {
  list-style: none;
  margin: 0;
  max-width: 30%;
  padding: 0; }
  .nav .accordion {
    list-style: none;
    margin: 0;
    padding: 0 0 0 8px; }

.accordion {
  height: auto;
  max-height: 0px;
  overflow: hidden;
  transition: all .25s; }

.accordion-label {
  color: #888;
  cursor: pointer;
  display: block;
  padding-left: 18px;
  position: relative; }
  .accordion-label::before {
    content: "▶";
    position: absolute;
    left: 0;
    top: 0; }
  .accordion-label:hover {
    color: #222; }

.accordion-input {
  position: absolute;
  top: -99999px; }
  .accordion-input:checked ~ .accordion {
    max-height: 400px; }
  .accordion-input:checked + .accordion-label {
    color: #111;
    font-weight: bold; }
    .accordion-input:checked + .accordion-label:before {
      content: "▼"; }

.accordion-menu li {
  padding: 4px 8px; }

.accordion-info {
  box-shadow: 0 0 1px #999 inset; }
