.js-header {
  display: none; }

.h-pad {
  padding-top: 177px; }
  @media screen and (max-width: 820px) {
    .h-pad {
      padding-top: 147px; } }

.header-base, .header-fixed, .header-hide, .header-fixed-shrink {
  background: #446CB3;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 147px;
  margin-top: 30px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 820px) {
    .header-base, .header-fixed, .header-hide, .header-fixed-shrink {
      line-height: 1;
      font-size: 80%;
      margin-top: 0;
      overflow: hidden;
      padding-top: 20px; } }

.header-fixed, .header-hide, .header-fixed-shrink {
  left: 0;
  margin: 0;
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 10; }
  @media screen and (max-width: 820px) {
    .header-fixed, .header-hide, .header-fixed-shrink {
      top: 0; } }

.header-hide {
  z-index: 3; }

.header-fixed-shrink.shrinky {
  font-size: 70% !important;
  height: 110px; }

.header-content, .main-content, .footer-content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px 20px; }
  .header-content :last-child, .main-content :last-child, .footer-content :last-child {
    margin-bottom: 0; }

.footer-content a {
  color: #fff; }

.nav-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 12; }
  .nav-container a {
    color: #fff; }
  .nav-container .c-nav {
    background: #6684ba;
    border-bottom: 1px solid #22437d; }
    @media screen and (max-width: 820px) {
      .nav-container .c-nav {
        -moz-transition: all 0.35s;
        -o-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        bottom: -400px;
        position: fixed;
        left: 0;
        width: 100%;
      }
      .nav-container .c-nav li {
        display: block;
        text-align: left;
      }
      .nav-container .c-nav li a {
        display: block;
      }
    }

@media screen and (max-width: 820px) {
  .slide-Up {
    bottom: 0 !important; }
  }

.btn-nav {
  background: url("img/nav-Icon.png") no-repeat scroll center center / 75% auto #6684ba;
    height: 24px;
    position: fixed;
    right: 4px;
    top: 4px;
    width: 28px;
  border: 1px solid #333;
  display: none;
}

@media screen and (max-width: 820px) {
  .btn-nav {
    display: block;
  }
}

.main {
  background: #fff;
  min-height: 800px;
  position: relative;
  z-index: 5;
}
