// Here we create a partial file that can be
// imported into other Sass files, or selectors.

.nav-container {
  overflow: hidden;

  &__items {
    float: left;
  }

  a {
    display: block;
    padding: 8px;
    text-decoration: none;

    &:hover,
    &:focus {
      background: #000;
      color: #fff;
    }
  }
}
