.display-inline {
  display: inline;
  margin: 0 !important;
  width: auto !important;
}

// Inline-block Individual Elements
// OR
// ALL elements within a parent element
.display-inline-block,
.display-inline-all > * {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
  width: auto !important;
}


&__hayo {
  color: #f00;
}
