*, *:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-family: arial;
}

html, body, main, .jqueryOptions {
  height: 100%;
}

body {
  background: #eaeaea;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin-top: 0;
}

.content {
  margin: auto;
  max-width: 80%;
  padding: 20px;
}

.content :last-child {
  margin-bottom: 0;
}

.header-base {
  background: #eee;
  border-bottom: 1px solid #ddd;
  height: 100%;
  left: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 320px;
  z-index: 3;

}

.header__title {
  font-size: 1.3em;
}

.main-content {
  padding-left: 320px;
}

.footer-base {
  background: #dadada;
  bottom: 0;
  font-size: .55em;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}


.select-area:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #444;
  bottom: 0;
  content: '';
  height: 0;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 0;
}

.select-area {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  padding: 8px 4px;
  position: relative;
}

.input-label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 8px;
}

.input-select {
  -webkit-appearance: textarea;
  -moz-appearance: window;
  background: none;
  border: 0;
  font-size: .8em;
  font-weight: 300;
  line-height: 1.33333;
  margin: 0;
  overflow: hidden;
  padding-right: 28px;
  padding: 0;
  text-overflow: ellipsis;
  width: 100%;
  width: 110% \9;
  z-index: 2;
}

.options {
  height: 0%;
  overflow: auto;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  visibility: hidden;
}

.jqueryOptions:before,
.options:before {
  content: '';
  display: block;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  z-index: -1;
}

.current-opt:before,
.options:before {
  transform: translateY(0%);
}

.opt1 {
  background: #d6f2e0;
}

.opt1:before {
  background: #d6f2e0;
}

.opt2 {
  background: #d6eff2;
}

.opt2:before {
  background: #d6eff2;
}

.opt3 {
  background: #f2e6d6;
}

.opt3:before {
  background: #f2e6d6;
}

.show {
  display: block;
  height: 100%;
  /*overflow: visible;*/
  position: relative;
  visibility: visible;
}



@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .content {
    max-width: 100%;
  }
}
