.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}


.sticky-fix {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}


/*
  Demo
*/

.header-base,
.footer-base,
[role="navigation"] {
  background: #fff;
}


[role="navigation"] {
  border-bottom: 1px solid #666;
  border-top: 1px solid #aaa;
}

[role="navigation"] a {
  font-size: 1.5em;
  padding: 4px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

[role="navigation"] a:hover {
  text-decoration: underline;
}






/*

  Demo Styling.  Ignore.

*/

html, body, h1, h2, h3, h4, h5, h6, pre, blockquote, fieldset, table {
  margin: 0;
  padding: 0;
}

a:hover, a:active, input[type="submit"]::-moz-focus-inner {
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p, small, blockquote, li, nav ul, nav ol, menu, address, details, summary, figure, code, kbd, samp, table, .cr-pill, .btn--pill {
  margin-bottom: 16px;
}

:last-child {
  margin-bottom: 0;
}

h1, .txt-h1 {
  font-size: 3.125em;
  font-weight: 300;
  line-height: 1;
}

h2, .txt-h2 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.33333;
}

h3, .txt-h3 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.33333;
}

h4, .txt-h4 {
  font-size: 1.625em;
  font-weight: 400;
  line-height: 1;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background: #fbfbfb;
  color: #333;
  font: 300 16px "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:focus {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
}

article, aside, canvas, footer, header, main, section, small, nav, address, details, summary, figure, figcaption, figure img, hr, .display-block {
  display: block;
}

.nav-c > li {
  display: inline-block;
}

[hidden], template, .display-none {
  display: none;
}

[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: .75;
}

::-moz-selection {
  background: #206be5;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #206be5;
  color: #fff;
  text-shadow: none;
}

a {
  background-color: transparent;
  color: #377ae8;
}
a:hover, a:active {
  color: #206be5;
}
a:focus {
  outline: thin dotted;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

p {
  margin-top: 0;
}

nav li {
  margin: 0 0 8px;
}

nav ul {
  padding: 0;
}

.nav-c a {
  display: block;
  line-height: 1;
  padding: 4px;
  position: relative;
}

.nav-c > li {
  margin-bottom: 0;
}


.nav-c {
  text-align: center;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}
