@charset "UTF-8";
/*
  *****************************************************************************
  *
  * Brass Tacks
  * by Scott O'Hara - @scottohara - github.com/scottaohara
  * 0.9.8.3 - October 17, 2014
  *
  *****************************************************************************
*/
html, body, h1, h2, h3, h4, h5, h6, pre, blockquote, fieldset, table {
  margin: 0;
  padding: 0;
}

fieldset, table, img {
  border: 0;
  outline: 0;
}

a:hover, a:active, input[type="submit"]::-moz-focus-inner {
  outline: 0;
}

.clearfix:after, .row:after, .equal-grid:after, .btn--pill:after, .nav-h:after {
  clear: both;
  content: '';
  display: table;
}

.form-block[disabled]:after, .radio-active:after, .spinner:before {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

h1, h2, h3, h4, h5, h6, p, small, blockquote, li, nav ul, nav ol, menu, address, details, summary, figure, code, kbd, samp, table, .cr-pill, .btn--pill {
  margin-bottom: 16px;
}

:last-child {
  margin-bottom: 0;
}

.flip-front, .flip-back, .flip-container, .flipper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

[data-tooltip] {
  border-bottom: 1px dashed;
  display: inline-block;
  position: relative;
}
[data-tooltip]:after, [data-tooltip]:before {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 9999;
}
[data-tooltip]:before {
  border: 8px solid transparent;
  content: '';
}
[data-tooltip]:after {
  font-size: 0.875em;
  padding: 8px;
  text-align: center;
}
[data-tooltip]:hover:after, [data-tooltip]:hover:before, [data-tooltip]:focus:after, [data-tooltip]:focus:before, .tooltip-active[data-tooltip]:after, .tooltip-active[data-tooltip]:before {
  opacity: 1;
  visibility: visible;
}

.txt-xxlarge {
  font-size: 4.375em;
  font-weight: 700;
  line-height: 1;
}

.txt-xlarge {
  font-size: 3.75em;
  font-weight: 600;
  line-height: 1;
}

.txt-large {
  font-size: 3.5em;
  font-weight: 300;
  line-height: 1;
}

h1, .txt-h1 {
  font-size: 3.125em;
  font-weight: 300;
  line-height: 1;
}

h2, .txt-h2 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.33333;
}

h3, .txt-h3 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.33333;
}

h4, .txt-h4 {
  font-size: 1.625em;
  font-weight: 400;
  line-height: 1;
}

h5,
legend, .txt-h5 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2;
}

h6, blockquote, caption, .txt-h6 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.33333;
}

table, .txt-base {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.33333;
}

small, sub, sup, .txt-small {
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.33333;
}

.txt-tiny {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.33333;
}

.txt-mini {
  font-size: 0.625em;
  font-weight: 400;
  line-height: 1.33333;
}

.form-search .input-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background: #fbfbfb;
  color: #333;
  font: 300 16px "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:focus {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
}

article, aside, canvas, footer, header, main, section, small, nav, address, details, summary, figure, figcaption, figure img, hr, .display-block {
  display: block;
}

.nav-c > li {
  display: inline-block;
}

[hidden], template, .display-none {
  display: none;
}

[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: .75;
}

::-moz-selection {
  background: #206be5;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #206be5;
  color: #fff;
  text-shadow: none;
}

a {
  background-color: transparent;
  color: #377ae8;
}
a:hover, a:active {
  color: #206be5;
}
a:focus {
  outline: thin dotted;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

p {
  margin-top: 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, p small, li small {
  display: inline-block;
  margin: 0;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #ccc;
  cursor: help;
}

ins {
  color: #111;
}

mark {
  background: #ffdc00;
  color: #222;
  border-bottom: 1px solid #ccc;
  padding: 0 2px;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}
pre code {
  line-height: 1.5;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
  color: #222;
}

blockquote p {
  margin-bottom: 0;
}
blockquote p:after, blockquote p:before {
  font: 400 Georgia, "Times New Roman", Times, serif 1.625em;
  line-height: 0;
  position: relative;
  top: 2px;
}
blockquote p:after {
  content: "\201D";
  right: -1px;
}
blockquote p:before {
  content: "\201C";
  left: -1px;
}
blockquote small {
  color: #999;
  font-size: 0.75em;
  font-style: normal;
  margin-bottom: 0;
  padding-left: 12px;
}
blockquote small:before {
  content: "– ";
}

nav ul, nav ol, menu, .list-clean {
  list-style: none;
  padding: 0;
}

ol, ul, dl, dd {
  margin: 0 0 16px;
}

ol, ul {
  padding-left: 24px;
}
ol ol, ol ul, ul ol, ul ul {
  margin-top: 8px;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

dd {
  padding-left: 16px;
}

nav li, menu li {
  margin: 0 0 8px;
}

nav ul, nav ol {
  padding: 0;
}

menu {
  padding: 0;
}

form, fieldset, input,
textarea, button,
select {
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  text-transform: none;
}

::-moz-placeholder {
  color: #999;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #999;
  font-style: italic;
}

::webkit-input-placeholder {
  color: #999;
  font-style: italic;
}

input[required]::-moz-placeholder {
  color: #ff4136;
  font-style: italic;
}

input[required]:-ms-input-placeholder {
  color: #ff4136;
  font-style: italic;
}

input[required]::webkit-input-placeholder {
  color: #ff4136;
  font-style: italic;
}

input[disabled] {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
input[readonly], input[readonly]:focus {
  background-color: #e0e0e0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

textarea {
  display: block;
  min-width: 60px;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
textarea:required {
  color: #ff4136;
}

button,
[type="reset"],
[type="submit"],
html [type="button"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select {
  margin-bottom: 8px;
  width: 100%;
}

optgroup {
  font-weight: bold;
}

label {
  display: inline-block;
  margin-bottom: 4px;
}
label[for] {
  cursor: pointer;
}

legend {
  display: inline-block;
  margin-left: -4px;
  padding: 0 4px;
}

code, kbd, samp {
  background: #333;
  color: #fdfdfd;
  border: 1px solid #111;
  border-left-width: 4px;
  display: block;
  font: 1em monospace, serif;
  padding: 8px;
}

p code, li code, blockquote code, q code, p kbd, li kbd, blockquote kbd, q kbd, p samp, li samp, blockquote samp, q samp {
  display: inline-block;
  font-size: 0.75em;
  margin: 0;
  padding: 2px 4px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  padding: 4px 8px;
  text-align: left;
  vertical-align: top;
}

caption {
  caption-side: top;
  text-align: left;
}

embed, object, audio, video {
  display: inline-block;
  max-width: 100%;
}

img {
  color: #ff4136;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 1px;
  margin: 16px 0;
}

progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #ccc;
  border-radius: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 2px #fff inset;
  height: 18px;
  max-width: 400px;
  padding: 1px;
  width: 100%;
}
progress::-webkit-progress-bar {
  background: #ddd;
}
progress::-moz-progress-bar {
  background: #4aceff;
  border-radius: 100%;
  box-shadow: 1px 1px 2px #666 inset;
}
progress::-webkit-progress-bar {
  background: #4aceff;
  border-radius: 100%;
  box-shadow: 1px 1px 2px #666 inset;
}
progress:not([value])::-moz-progress-bar {
  background: none;
}
progress:not([value])::-webkit-progress-bar {
  background: none;
}

.emph-block, .emph-transparent {
  border: 1px solid #ddd;
  margin-bottom: 16px;
  min-height: 20px;
  padding: 16px;
}

q.emph-block:before, q.emph-transparent:before, q.emph-block:after, q.emph-transparent:after {
  display: none;
}

.emph-block {
  background: #fdfdfd;
  border-radius: 4px;
}

.emph-block--callout {
  border-color: #00aeef;
  border-left-width: 4px;
  font-size: 1.25em;
  padding: 16px;
}
.emph-block--callout > * {
  color: #00aeef;
}

.emph-block--small {
  font-size: 90%;
  padding: 8px;
}

.emph-img {
  border-radius: 4px;
  border: 1px solid #999;
  display: inline-block;
  overflow: hidden;
}
.emph-img img {
  border: 3px solid #fdfdfd;
  display: block;
  width: 100%;
}
.emph-img__caption {
  background: #fff;
  padding: 4px 12px;
}

.invis, .cr-pill input,
.is-hidden {
  border: 0 !important;
  color: transparent;
  height: 1px !important;
  left: -999999px !important;
  position: absolute !important;
  width: 1px !important;
}

.display-inline {
  display: inline;
  margin: 0 !important;
  width: auto !important;
}

.display-inline-block,
.display-inline-all > * {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
  width: auto !important;
}

@media screen and (max-width: 770px) {
  .mobile-hide {
    display: none !important;
  }
}
.mobile-show {
  display: none !important;
}
@media screen and (max-width: 770px) {
  .mobile-show {
    display: block !important;
  }
}

.mute {
  opacity: .75;
}
.mute-half {
  opacity: .5;
}
.mute-quarter {
  opacity: .25;
}

.media-block {
  margin-bottom: 2em;
}
.media-block__text {
  overflow: hidden;
}
.media-block__text > :last-child {
  margin-bottom: 0;
}
.media-block__title {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.media-block__object {
  float: left;
  margin: 0 16px 8px 0;
  max-width: 100%;
}
.media-block__object > {
  display: block;
}

.media-block--reverse .media-block__object {
  float: right;
  margin: 0 0 8px 16px;
}

.hr-styled {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.clear {
  clear: both;
}

.overflow {
  overflow: hidden;
}

.row {
  margin-bottom: 20px;
  margin-left: -40px;
}
.row.half-gutter {
  margin-left: -20px;
}

.col {
  float: left;
  margin-bottom: 0;
  min-height: 1px;
  padding-left: 40px;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 770px) {
  .col {
    margin-bottom: 20px;
  }
}

.half-gutter .col {
  padding-left: 20px;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.w-33 {
  width: 33.33333%;
}

.w-66 {
  width: 66.66667%;
}

@media screen and (max-width: 770px) {
  [class*="w-"]:not(.w-default) {
    width: 100%;
  }
}
.equal-grid {
  margin-bottom: 20px;
}
.equal-grid > * {
  float: left;
}
.equal-grid-4 > * {
  width: 25%;
}
@media screen and (max-width: 900px) {
  .equal-grid-4 > * {
    width: 33.33333%;
  }
}
.equal-grid-3 > * {
  width: 33.33333%;
}
.equal-grid-2 > * {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .equal-grid-4 > *, .equal-grid-3 > * {
    width: 50%;
  }
}

@media screen and (max-width: 380px) {
  .equal-grid-4 > *, .equal-grid-3 > *, .equal-grid-2 > * {
    width: 100%;
  }
}

.table__header {
  background: #00aeef;
  color: #fff;
}
.table__footer {
  background: #fdfdfd;
}
.table--border {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.table--border tr {
  border-top: 1px solid #ccc;
}
.table--border th, .table--border td {
  border-left: 1px solid #ccc;
}
.table--stripe tr:nth-child(2n) {
  background: #e0e0e0;
}
.table--row-stripe {
  background: #e0e0e0;
}

.table-container-mobile {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 800px) {
  .table-container-mobile {
    border: 1px solid #ccc;
  }
  .table-container-mobile table, .table-container-mobile th, .table-container-mobile td, .table-container-mobile tr {
    white-space: nowrap;
  }
}

.flex-row {
  display: -webkit-flex;
  display: flex;
}

.flex-inline-row {
  display: -webkit-inline-flex;
  display: inline-flex;
}

[class*="flex-col-"] {
  margin-bottom: 1em;
  margin-right: 1em;
}
[class*="flex-col-"]:last-child {
  margin-right: 0;
}

.flex-col-1 {
  -webkit-flex: 1;
  flex: 1;
}

.flex-col-2 {
  -webkit-flex: 2;
  flex: 2;
}

.flex-col-3 {
  -webkit-flex: 3;
  flex: 3;
}

.flex-col-4 {
  -webkit-flex: 4;
  flex: 4;
}

.flex-col-5 {
  -webkit-flex: 5;
  flex: 5;
}

.flex-col-6 {
  -webkit-flex: 6;
  flex: 6;
}

.flex-col-7 {
  -webkit-flex: 7;
  flex: 7;
}

.flex-col-8 {
  -webkit-flex: 8;
  flex: 8;
}

.flex-col-9 {
  -webkit-flex: 9;
  flex: 9;
}

.flex-col-10 {
  -webkit-flex: 10;
  flex: 10;
}

.table--row {
  display: table;
  height: 100%;
  margin-bottom: 20px;
  table-layout: fixed;
  width: 100%;
}
.table--col {
  display: table-cell;
  height: 100%;
  padding: .75em;
  vertical-align: top;
}
@media screen and (max-width: 700px) {
  .table--col {
    display: block;
  }
}
.table--col__content {
  box-sizing: content-box;
  height: 100%;
  padding: 1em;
}

.form-row {
  padding: 4px 0;
  position: relative;
}
.form-row.row {
  margin-bottom: 0;
}
@media screen and (max-width: 770px) {
  .form-row .col {
    margin-bottom: 0;
  }
}
.form-block {
  border: 1px solid #ccc;
  margin-bottom: 8px;
  padding: 8px 12px;
}
.form-block[disabled] {
  position: relative;
}
.form-block[disabled]:after {
  background: rgba(40, 40, 40, 0.1);
  content: '';
}

.input-text, .crs, .select-container, .input-multi-select, .input-file-block {
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 8px;
  outline: 0;
  padding: 8px 4px;
  width: 100%;
  -webkit-appearance: none;
}
.input-text:focus, .crs:focus, .select-container:focus, .input-multi-select:focus, .input-file-block:focus {
  background-color: #fdfdfd;
  box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
}

.input-text {
  position: relative;
  z-index: 2;
}

.cb-active, .radio-active {
  display: inline-block;
  height: 16px;
  margin: 0 4px 0 0;
  position: relative;
  vertical-align: sub;
  width: 16px;
}
.cb-active:after, .radio-active:after {
  content: '';
  opacity: 0;
}
.cb-active:hover:after, .radio-active:hover:after {
  opacity: .3;
}

.cr-area {
  position: relative;
}
.cr-area input:checked + .cr:after {
  opacity: 1;
}
.cr-area :focus + .cr {
  box-shadow: 0 0 6px rgba(64, 181, 187, 0.65);
}

.cb-active {
  background-color: #ddd;
  background-image: -moz-linear-gradient(top, #ccc);
  background-image: -o-linear-gradient(top, #ccc);
  background-image: -webkit-linear-gradient(top, #ccc);
  background-image: linear-gradient(#fff, #ccc);
  border: 1px solid #999;
  border-radius: 2px;
}
.cb-active:after {
  border-right: none;
  border-top: none;
  border: 5px solid #00aeef;
  height: 10px;
  left: 1px;
  position: absolute;
  top: -2px;
  transform: rotate(-49deg);
  width: 20px;
}

.radio-active {
  background-color: #ddd;
  background-image: -moz-linear-gradient(top, #ccc);
  background-image: -o-linear-gradient(top, #ccc);
  background-image: -webkit-linear-gradient(top, #ccc);
  background-image: linear-gradient(#fff, #ccc);
  border-radius: 200%;
  border: 1px solid #999;
}
.radio-active:after {
  background: #4aceff;
  border-radius: 200%;
  height: 6px;
  width: 6px;
}

.crs-label {
  vertical-align: middle;
}

.cr-slider {
  white-space: nowrap;
}

.crs {
  border-radius: 12px;
  display: inline-block;
  height: 28px;
  margin: 0 4px 0 0;
  max-width: 80px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.crs:after {
  background: #ff4136;
  content: '';
  height: 100%;
  position: absolute;
  right: 50%;
  top: 0;
  transition: .2s all;
  width: 51%;
}
.crs.knob {
  overflow: visible;
}
.crs.knob:after {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 200%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  height: 150%;
  top: -25%;
}
.crs.labels:before {
  content: 'Off';
  left: 5%;
  position: absolute;
  text-indent: 60%;
  top: 12%;
}

.input-slide:focus + .crs {
  box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
}
.input-slide:checked + .crs.knob {
  background: #2ecc40 !important;
  color: #fff;
}
.input-slide:checked + .crs.knob:after {
  background: #fff;
}
.input-slide:checked + .crs:after {
  background: #2ecc40;
  right: -1px;
}
.input-slide:checked + .crs.labels:before {
  content: 'On';
  text-indent: 5%;
}

.cr-pill {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
.cr-pill__option {
  border-right: 1px solid #ccc;
  float: left;
  margin-bottom: 0;
  min-width: 60px;
  overflow: hidden;
  position: relative;
}
.cr-pill__option:last-child {
  border-right: 0;
}
.cr-pill__option:before {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width .2s, background .2s;
  width: 0%;
}

input:checked + .cr-pill__option:before {
  width: 100%;
}

input:focus + .cr-pill__option {
  box-shadow: inset 0 0 6px rgba(66, 166, 166, 0.65);
}

.cr-pill__label {
  display: block;
  padding: 4px;
  position: relative;
}

.select-container {
  overflow: hidden \9;
  position: relative;
}
.select-container:after {
  bottom: 0;
  content: '\25BC';
  height: 16px;
  line-height: 1;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 0;
}

.input-select {
  -webkit-appearance: textarea;
  -moz-appearance: window;
  background: none;
  border: 0;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 115% \9;
  z-index: 2;
}
.input-select::-ms-expand {
  display: none;
}

.input-multi-select option {
  padding: 4px;
}

.input-multi-select--resize {
  min-height: 75px;
  resize: vertical;
}

.input-color {
  background-image: none;
  border: 1px solid #ccc;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 45px;
  margin-bottom: 8px;
  padding: 0 4px;
  width: 100%;
}
.input-color:focus {
  background: #eee;
  border: 1px solid #50B6D5;
  box-shadow: 0 0 6px rgba(66, 166, 166, 0.65);
}

.input-file-block {
  padding: 0;
  position: relative;
}

.input-file {
  height: 1px;
  left: -99999px;
  position: absolute;
  width: 1px;
}
.input-file:focus ~ .input-file-placeholder {
  background: #fff;
  border-color: #333;
  box-shadow: 0 0 0 1px #39CCCC;
}
.input-file[disabled] ~ .input-file-placeholder, .input-file[disabled] ~ .btn--file-input {
  color: #ccc;
}

.input-file-placeholder {
  display: block;
  margin: 0;
  padding: 8px;
  position: relative;
}

.btn.btn--file-input {
  bottom: 0;
  line-height: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.input-small {
  font-size: 0.875em;
  padding: 4px;
}

.input-large {
  font-size: 1.25em;
  padding: 8px 12px;
}

.input-error {
  border: 1px solid #ff4136;
}

.input-success {
  border: 1px solid #2ecc40;
}

.input-warning {
  border: 1px solid #ff851b;
}

.label-reveal {
  bottom: 0;
  font-size: 0.75em;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  transition: bottom .2s, opacity .2s;
  z-index: 1;
}

.input-text:focus ~ .label-reveal, .input-text:invalid ~ .label-reveal {
  bottom: 95%;
  line-height: 1;
  opacity: 1;
  padding: 4px;
}
.input-text:invalid ~ .label-reveal {
  background: #ff4136;
  border-radius: 4px 4px 0 0;
  color: #fff;
  left: -1px;
  padding: 4px 8px;
}

.message-position {
  left: 10%;
  position: fixed;
  top: 0;
  width: 80%;
}
.message-container {
  border: 1px solid;
  margin-bottom: 1em;
  padding: 0.35em 0.5em;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  transition: all .3s;
}
.message-text {
  margin-bottom: 0;
}
.message-warning {
  background: #ffa04e;
  border-color: #ce6000;
  color: #3a1b00;
}
.message-warning ::-moz-selection {
  background: #ce6000;
  color: #333;
  text-shadow: none;
}
.message-warning ::selection {
  background: #ce6000;
  color: #333;
  text-shadow: none;
}
.message-warning .close-message {
  background: #ff851b;
  border-color: #ce6000;
  color: #333;
}
.message-warning .close-message:hover {
  background: #ce6000;
  color: #333;
}
.message-error {
  background: #ff7169;
  border-color: #e90d00;
  color: #550500;
}
.message-error ::-moz-selection {
  background: #e90d00;
  color: #fdfdfd;
  text-shadow: none;
}
.message-error ::selection {
  background: #e90d00;
  color: #fdfdfd;
  text-shadow: none;
}
.message-error .close-message {
  background: #ff4136;
  border-color: #e90d00;
  color: #fdfdfd;
}
.message-error .close-message:hover {
  background: #e90d00;
  color: #fdfdfd;
}
.message-success {
  background: #54d964;
  border-color: #208e2c;
  color: #051507;
}
.message-success ::-moz-selection {
  background: #208e2c;
  color: #fdfdfd;
  text-shadow: none;
}
.message-success ::selection {
  background: #208e2c;
  color: #fdfdfd;
  text-shadow: none;
}
.message-success .close-message {
  background: #2ecc40;
  border-color: #208e2c;
  color: #fdfdfd;
}
.message-success .close-message:hover {
  background: #208e2c;
  color: #fdfdfd;
}
.message-info {
  background: #0d8eff;
  border-color: #004b8c;
  color: black;
}
.message-info ::-moz-selection {
  background: #004b8c;
  color: #fdfdfd;
  text-shadow: none;
}
.message-info ::selection {
  background: #004b8c;
  color: #fdfdfd;
  text-shadow: none;
}
.message-info .close-message {
  background: #0074d9;
  border-color: #004b8c;
  color: #fdfdfd;
}
.message-info .close-message:hover {
  background: #004b8c;
  color: #fdfdfd;
}

.close-message {
  border-radius: 200%;
  border: 1px solid;
  padding: 4px 12px;
  position: absolute;
  right: -0.5em;
  text-decoration: none;
  top: -0.5em;
}

[data-tooltip] {
  border-bottom-color: #333;
}
[data-tooltip]:after, [data-tooltip]:before {
  transition: all 0.35s;
}
[data-tooltip]:after {
  max-width: 200px;
  min-width: 100px;
}
[data-tooltip]:after {
  border-radius: 2px;
  content: attr(data-tooltip);
}

.tooltip-bottom:after, .tooltip-bottom:before {
  top: 100%;
}
.tooltip-bottom:before {
  left: 50%;
  margin-top: -7px;
}
.tooltip-bottom:after {
  left: 0;
  margin-top: 7px;
}
.tooltip-bottom:hover:after, .tooltip-bottom:hover:before {
  transform: translateY(8px);
}
.tooltip-img-bottom:after {
  bottom: -30%;
  left: 0;
  top: auto;
}
.tooltip-img-bottom:hover:after {
  bottom: 0%;
  top: auto;
}
.tooltip-left:after, .tooltip-left:before {
  right: 100%;
}
.tooltip-left:before {
  bottom: 15%;
  margin-right: -13px;
}
.tooltip-left:after {
  right: 105%;
  top: -30%;
}
.tooltip-left:hover:after, .tooltip-left:hover:before {
  transform: translateX(-8px);
}
.tooltip-img-left:after {
  bottom: 0;
  left: 50%;
  top: 0;
  width: 1%;
}
.tooltip-img-left:hover:after {
  left: 0;
  width: 50%;
}
.tooltip-right:after, .tooltip-right:before {
  left: 100%;
}
.tooltip-right:before {
  bottom: 15%;
  margin-left: -13px;
}
.tooltip-right:after {
  left: 105%;
  top: -30%;
}
.tooltip-right:hover:after, .tooltip-right:hover:before {
  transform: translateX(8px);
}
.tooltip-img-right:after {
  bottom: 0;
  left: auto;
  right: 50%;
  top: 0;
  width: 1%;
}
.tooltip-img-right:hover:after {
  left: auto;
  right: 0;
  width: 50%;
}
.tooltip-top:after, .tooltip-top:before {
  bottom: 100%;
}
.tooltip-top:before {
  left: 50%;
  margin-bottom: -7px;
}
.tooltip-top:after {
  left: 0;
  margin-bottom: 7px;
}
.tooltip-top:hover:after, .tooltip-top:hover:before {
  transform: translateY(-8px);
}
.tooltip-img-top:after {
  bottom: auto;
  left: 0;
  top: -30%;
}
.tooltip-img-top:hover:after {
  top: 0%;
}
.tooltip-fixed-width:after {
  width: 125px;
}
.tooltip-fixed-width-wide:after {
  max-width: 300px;
  width: 300px;
}
.tooltip-prime.tooltip-top:before {
  border-top-color: #4aceff;
}
.tooltip-prime.tooltip-bottom:before {
  border-bottom-color: #4aceff;
}
.tooltip-prime.tooltip-left:before {
  border-left-color: #4aceff;
}
.tooltip-prime.tooltip-right:before {
  border-right-color: #4aceff;
}
.tooltip-prime:after {
  background-color: #4aceff;
  color: #fff;
}
.tooltip-success.tooltip-top:before {
  border-top-color: #2ecc40;
}
.tooltip-success.tooltip-bottom:before {
  border-bottom-color: #2ecc40;
}
.tooltip-success.tooltip-left:before {
  border-left-color: #2ecc40;
}
.tooltip-success.tooltip-right:before {
  border-right-color: #2ecc40;
}
.tooltip-success:after {
  background-color: #2ecc40;
  color: #fff;
}
.tooltip-warning.tooltip-top:before {
  border-top-color: #ff851b;
}
.tooltip-warning.tooltip-bottom:before {
  border-bottom-color: #ff851b;
}
.tooltip-warning.tooltip-left:before {
  border-left-color: #ff851b;
}
.tooltip-warning.tooltip-right:before {
  border-right-color: #ff851b;
}
.tooltip-warning:after {
  background-color: #ff851b;
  color: #fff;
}
.tooltip-error.tooltip-top:before {
  border-top-color: #ff4136;
}
.tooltip-error.tooltip-bottom:before {
  border-bottom-color: #ff4136;
}
.tooltip-error.tooltip-left:before {
  border-left-color: #ff4136;
}
.tooltip-error.tooltip-right:before {
  border-right-color: #ff4136;
}
.tooltip-error:after {
  background-color: #ff4136;
  color: #fff;
}

[class*="tooltip-img-"] {
  border-bottom: 0;
  overflow: hidden !important;
}
[class*="tooltip-img-"]:before {
  display: none;
}
[class*="tooltip-img-"]:after {
  border-radius: 0 !important;
  margin: 0;
  max-width: 100% !important;
  width: 100%;
}

@-moz-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@-ms-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.spinner:before {
  -moz-animation: spin 1s infinite steps(24);
  -ms-animation: spin 1s infinite steps(24);
  -webkit-animation: spin 1s infinite steps(24);
  animation: spin 1s infinite steps(24);
  border-bottom: 2px solid transparent;
  border-right: 2px solid #00aeef;
  border-top: 2px solid transparent;
  border-radius: 200%;
  content: '';
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.btn {
  -webkit-appearance: none;
  border: 2px solid;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: normal;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none !important;
}
.btn:hover, .btn:focus {
  outline: 0;
}

.social-icon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.btn {
  background: none;
  color: #666;
}
.btn:hover, .btn:focus {
  background: #666;
  color: #fff;
}
.btn:active {
  background: #111;
}

.btn--prime {
  background: none;
  border-color: #206be5;
  color: #377ae8;
}
.btn--prime:hover, .btn--prime:focus {
  background: #377ae8;
  color: #fff;
}
.btn--prime:active {
  background: #134ba6;
  color: #fff;
}

.btn--cta {
  background: none;
  border-color: #f0c600;
  color: #ffd50a;
}
.btn--cta:hover, .btn--cta:focus {
  background: #ffd50a;
  color: #fff;
}
.btn--cta:active {
  background: #a38700;
  color: #fff;
}

.btn--emph {
  background: none;
  border-color: #369834;
  color: #3dab3b;
}
.btn--emph:hover, .btn--emph:focus {
  background: #3dab3b;
  color: #fff;
}
.btn--emph:active {
  background: #225f21;
  color: #fff;
}

.btn--neg {
  background: none;
  border-color: #e32b23;
  color: #e6413a;
}
.btn--neg:hover, .btn--neg:focus {
  background: #e6413a;
  color: #fff;
}
.btn--neg:active {
  background: #a51b15;
  color: #fff;
}

.btn[disabled],
.btn--disabled {
  background: #fdfdfd;
  border-color: #eee;
  color: #111;
  opacity: .3;
  pointer-events: none;
}

.btn--fill {
  background: #fff;
}

.btn--tiny {
  font-size: 0.75em;
  padding: 4px 8px;
}

.btn--small {
  font-size: 0.875em;
  padding: 8px 12px;
}

.btn--large {
  font-size: 2em;
  padding: 8px 32px;
}

.btn--xlarge {
  font-size: 2.5em;
  padding: 12px 32px;
}

.btn--fat {
  padding: 16px 32px;
}

.btn--thin {
  padding: 4px 8px;
}

.btn--wide {
  display: block;
  width: 100%;
}

.btn--soft {
  border-radius: 8px;
}

.btn--rounded {
  border-radius: 200%;
}

.btn--pill > :first-child {
  border-radius: 8px 0 0 8px;
}
.btn--pill > :last-child {
  border-radius: 0 8px 8px 0;
}
.btn--pill > :not(:first-child) {
  border-left: none;
}
.btn--pill .btn {
  float: left;
  margin-bottom: 0;
  min-width: 100px;
}
.btn--pill .btn--small {
  min-width: 80px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-success {
  color: #2ecc40;
}

.txt-warning {
  color: #ff851b;
}

.txt-error {
  color: #ff4136;
}

b, strong, cite, dt, th,
.txt-bold {
  font-weight: bold;
}

.txt-normal {
  font-weight: normal;
}

i, em, dfn, blockquote, img,
.txt-italic {
  font-style: italic;
}

.txt-no-italic {
  font-style: normal;
}

.txt-highlight {
  background: #4aceff;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  padding: 4px;
}

.txt-underline {
  text-decoration: underline;
}

.txt-no-underline {
  text-decoration: none;
}

.txt-upper {
  text-transform: uppercase;
}

.list-number {
  list-style-type: decimal;
}

.line-tight {
  line-height: 1.2 !important;
}

.line-tighter {
  line-height: 1 !important;
}

.txt-indent-1 {
  text-indent: 1em;
}

.txt-indent-2 {
  text-indent: 2em;
}

.txt-indent-3 {
  text-indent: 3em;
}

.txt-smooth {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.nav-crumbs a, .nav-crumbs li {
  display: inline-block;
}
.nav-crumbs li:after {
  content: ">";
  display: inline-block;
}
.nav-crumbs li:last-child {
  font-weight: 600;
  padding: 4px;
}
.nav-crumbs li:last-child:after {
  content: '';
}

.nav-v .drop-menu {
  left: 100%;
  top: 0;
}

.nav-h .drop-menu {
  left: 0;
  top: 100%;
}

.drop-container {
  position: relative;
}
.drop-container:hover, .drop-container.drop-open {
  background: #e0e0e0;
}
.drop-container:hover .drop-menu, .drop-container.drop-open .drop-menu {
  visibility: visible;
}
.drop-container a {
  white-space: nowrap;
}

.drop-menu {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #ddd;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  margin: 0;
  position: absolute;
  visibility: hidden;
  z-index: 5;
}
.drop-menu a {
  padding: 4px 12px;
}

.nav-v a, .nav-h a, .nav-c a {
  display: block;
  line-height: 1;
  padding: 4px;
  position: relative;
}

.nav-h > li, .nav-c > li {
  margin-bottom: 0;
}

.nav-v a {
  border-bottom: 1px solid #999;
  position: relative;
  text-decoration: none;
}
.nav-v a:hover, .nav-v a.active {
  border-bottom-color: #206be5;
}

.nav-h > li {
  float: left;
}

.nav-c {
  text-align: center;
}

.nav-fixed-area {
  padding-top: 40px;
}
.nav-fixed-area .btn-mobile {
  top: 8px;
  right: 8px;
}

.nav-fixed {
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #333;
  line-height: 40px;
}
.nav-fixed a {
  color: #fff;
  display: block;
}
.nav-fixed a:hover, .nav-fixed a:visited {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-decoration: none;
}

.nav-grid a {
  color: #999;
  font-size: 0.875em;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

.flip-front, .flip-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  transition: .6s;
}
.flip-front img, .flip-back img {
  max-height: 100%;
  max-width: 100%;
}

.flip-container {
  perspective: 1000px;
}
.flip-container:hover .flip-back {
  transform: rotateY(0deg);
}
.flip-container:hover .flip-front {
  transform: rotateY(-180deg);
}

.flipper {
  position: relative;
  transition: .6s;
}

.flip-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.flip-back {
  transform: rotateY(-180deg);
}

.flip-container,
.flip-front,
.flip-back {
  height: 500px;
  max-width: 100%;
}

.btn--search, .btn--clear {
  height: 100%;
  padding: 0 8px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.form-search {
  padding: 0;
  position: relative;
}
.form-search .input-text {
  max-width: 100%;
  margin-bottom: 0;
  padding-right: 120px;
}

.btn--search {
  padding: 0 12px;
  right: -1px;
}

.btn--clear {
  font-family: 1.4em;
  margin: auto;
  opacity: 0;
  padding: 0;
  right: 0;
  transition: opacity .2s;
  width: 30px;
  visibility: hidden;
}
.btn--clear[data-show-btn='true'] {
  opacity: 1;
  visibility: visible;
}
.btn--clear:hover, .btn--clear:focus {
  background: #fdfdfd;
  border-color: #00a6e3;
  color: #00a6e3;
}
.btn--clear:active {
  background: #ddd;
}

[class*="btn--social"] {
  color: #fff !important;
  min-width: 162px;
  padding-left: 50px;
  position: relative;
  text-align: left;
}

.btn--social--fb {
  background: #3a5b98;
  border-color: #9baaca;
}
.btn--social--fb .social--icon {
  border-color: #9baaca;
}
.btn--social--fb:hover {
  background: #9baaca;
}

.btn--social--tw {
  background-color: #3096d0;
  border-color: #96c9e7;
}
.btn--social--tw .social--icon {
  border-color: #96c9e7;
}
.btn--social--tw:hover {
  background: #96c9e7;
}

.btn--social--g {
  background-color: #dd4b39;
  border-color: #c93e35;
}
.btn--social--g .social--icon {
  border-color: #c93e35;
}
.btn--social--g:hover {
  background: #c93e35;
}

.link-block {
  position: relative;
}
.link-block a {
  position: relative;
  z-index: 1;
}

a.link-block__read-more {
  bottom: 0;
  color: transparent;
  font-size: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.btn--menu[data-state="on"] .btn--menu__icon:after, .btn--menu[data-state="on"] .btn--menu__icon:before {
  bottom: 0;
  top: 0;
}

.btn--menu {
  background: #fff;
  border: 1px solid black;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  left: 8px;
  max-width: 300px;
  overflow: hidden;
  padding: 8px 8px 8px 42px;
  position: relative;
  text-transform: uppercase;
  top: 8px;
  transition: padding .2s .4s, text-indent .2s .4s, color .2s .4s, max-width .2s .4s;
  z-index: 11;
}
.btn--menu[data-state="on"] {
  color: transparent;
  max-width: 30px;
  min-width: 1px;
  padding-left: 38px;
  padding-right: 0;
  text-indent: -999px;
}
.btn--menu[data-state="on"] .btn--menu__icon {
  background: transparent;
}
.btn--menu[data-state="on"] .btn--menu__icon:before, .btn--menu[data-state="on"] .btn--menu__icon:after {
  transition: all .2s .4s;
}
.btn--menu[data-state="on"] .btn--menu__icon:after {
  transform: rotate(45deg);
}
.btn--menu[data-state="on"] .btn--menu__icon:before {
  transform: rotate(-45deg);
}

.btn--menu__icon {
  background: black;
  bottom: 0;
  height: 4px;
  left: 0;
  margin: auto 0 auto 4px;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s all;
  width: 30px;
}
.btn--menu__icon:before, .btn--menu__icon:after {
  background: #222;
  border-radius: 4px;
  content: '';
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  transition: all .2s 0s;
  width: 100%;
}
.btn--menu__icon:before {
  top: -8px;
}
.btn--menu__icon:after {
  bottom: -8px;
}

.btn--close {
  border: 0;
  font-size: 1.625em;
  height: 44px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
}
.btn--close.btn--rounded {
  border: 1px solid;
  right: -8px;
  top: -8px;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 1.5em;
  position: fixed;
  top: 0;
  transition: opacity .2s;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}
.modal-overlay[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}
.modal-overlay[aria-hidden="false"] .modal-overlay__content {
  transform: scale(1);
}

.modal-overlay__content {
  background: #fff;
  margin: auto;
  max-width: 800px;
  overflow: auto;
  overflow-x: hidden;
  padding: 1.5em;
  position: relative;
  transform: scale(0.8);
  transition: transform .3s;
  width: 100%;
}
.modal-overlay__content__title {
  margin-top: 0;
  padding-right: 1.25em;
}

.txt-slant {
  transform: skewX(-16deg);
}

.txt-slant__correct {
  display: inline-block;
  padding: 0 4px;
  transform: skewX(16deg);
}

/*# sourceMappingURL=master-project.css.map */
