*, *:after, *:before {
  box-sizing: border-box;
}

body, html {
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: #333;
}

canvas {
  background: url(img/grass.png);
  border: 1px solid #000;
  box-shadow: 0 0 10px #000;
  display: block;
  margin: 10% auto;
}
